@import '../../styles/variables';

select {
  background: #FFF;
  border: 1px solid $theme-color;
  border-radius: $border-radius;
  font-size: $font-size-common;
  margin: 0;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  outline: none;
  width: 100%;
}
