@import '../../styles/variables';

select {
  background: #FFF;
  border: 1px solid $theme-color;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  outline: none;
  width: 100%;
}
